.content {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 8px;
    border: 2px solid var(--border);
}

.leftTop:before {
    border-bottom: 2px solid var(--border);
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(-50deg);
    left: -22px;
    top: -8px;
    z-index: 1;
    background: var(--layout);
}

.leftBottom:after {
    border-top: 2px solid var(--border);
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(50deg);
    left: -22px;
    bottom: -8px;
    z-index: 1;
    background: var(--layout);
}

.rightTop:before {
    border-bottom: 2px solid var(--border);
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(50deg);
    right: -22px;
    top: -8px;
    z-index: 1;
    background: var(--layout);
}

.rightBottom:after {
    border-left: 2px solid var(--border);
    width: 50px;
    height: 30px;
    content: '';
    position: absolute;
    transform: rotate(50deg);
    right: -31px;
    bottom: -25px;
    z-index: 1;
    background: var(--layout);
}