.centerData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.team {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: space-between;
}