.gamesContainer {
    height: 100%;
}

.gamesItems {
    margin-top: 16px;
    height: calc(-36px + 100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.gamesItem {
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.gamesItem:hover {
    background: var(--layout-accent);
}

.gameContentName {
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-content: center;
}

.gameContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameContentTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}