.headerContainer {
    height: 42px;
}

.headerComponent {
    border: 1px solid var(--border);
    height: 100%;
}

.headerContent {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 16px;
}

.headerContainerLogo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.headerContainerItems {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.headerContainerLogin {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 16px;
    height: 100%;
}

.headerContainerPlayerMenu {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.headerContainerItems {
    display: flex;
    gap: 4px;
}

.headerContainerMobile {
    position: fixed;
    background-color: var(--layoutAccent);
    width: 100vw;
    bottom: 0;
    height: 48px;
    z-index: 1;
    border-top: 1px solid var(--border);
}

.headerContainerMobileItem {
    width: 25%;
    text-align: center;
}