.playersTableContainer {
    height: 400px;
}

.playersTableContent {
    padding: 32px;
}

.playersTableContentButtons {
    position: absolute;
    bottom: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}