.light {
    --layout: rgba(240, 242, 245, 1);
    --layoutAccent: hsla(0, 0%, 100%, 1);
    --layoutOverlay: hsla(0, 0%, 85%, 0.8);
    --text: hsla(216, 20%, 5%, 1);
    --textSecondary: rgba(67, 81, 101, 1);
    --primary: rgba(46, 133, 255, 1);
    --border: hsla(215, 20%, 67%, 0.5);
    --divider: hsla(216, 20%, 80%, 0.5);
    --semanticSuccess: hsla(144, 49%, 53%, 1);
    --semanticDanger: hsla(346, 100%, 36%, 1);
    --semanticGold: hsla(50, 100%, 50%, 1);
    --semanticSilver: hsla(0, 0%, 60%, 1);
    --semanticBronze: hsla(43, 32%, 58%, 1);
}

.dark {
    --layout: #1d1c1c;
    --layoutAccent: hsla(216, 20%, 20%, 1);
    --layoutOverlay: hsl(215deg 15% 15.69%);
    --text: hsla(216, 20%, 95%, 1);
    --textSecondary: rgba(154, 168, 188, 1);
    --primary: rgba(0, 87, 209, 1);
    --border: hsla(215, 20%, 33%, 0.5);
    --divider: hsla(216, 20%, 26%, 0.8);
    --semanticSuccess: hsla(132, 50%, 33%, 1);
    --semanticDanger: hsla(2, 65%, 33%, 1);
    --semanticGold: hsla(50, 100%, 50%, 1);
    --semanticSilver: hsla(0, 0%, 60%, 1);
    --semanticBronze: hsla(43, 32%, 58%, 1);
}