.light {
    --layout: hsla(0, 0%, 100%, 1);
    --layout-accent: hsla(0, 0%, 85%, 1);
    --layout-overlay: hsla(0, 0%, 85%, 0.8);
    --text: hsla(0, 0%, 0%, 1);
    --text-secondary: hsla(0, 0%, 85%, 1);
    --primary: hsla(212, 100%, 36%, 1);
    --border: hsla(0, 0%, 85%, 1);
    --divider: hsla(0, 0%, 85%, 1);
    --semantic-success: hsla(144, 49%, 53%, 1);
    --semantic-danger: hsla(346, 100%, 36%, 1);
    --semantic-gold: hsla(50, 100%, 50%, 1);
    --semantic-silver: hsla(0, 0%, 60%, 1);
    --semantic-bronze: hsla(43, 32%, 58%, 1);
}