#root {
  overflow: hidden;
}

@font-face {
  font-family: 'RF Dewi';
  src: local('RF Dewi'), url(./fonts/RFExpanded.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'RF Dewi' !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.app {
  height: 100vh;
}

.content {
  height: calc(-110px + 100%);
  overflow: auto;
  padding: 32px 4% 0 4%;
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
  background-color: transparent;
}

.btn-with-edges-primary {
  background-color: var(--primary);
  box-shadow: none;
}

.btn-with-edges-primary:after {
  width: 25px;
  height: 15px;
  content: '';
  position: absolute;
  transform: rotate(50deg);
  left: -11px;
  bottom: -4px;
  z-index: 1;
  background: var(--layout);
}

.btn-with-edges-primary:before {
  width: 25px;
  height: 15px;
  content: '';
  position: absolute;
  transform: rotate(50deg);
  right: -11px;
  top: -4px;
  z-index: 1;
  background: var(--layout);
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
  color: var(--text-secondary);
}

.right-align {
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

.ant-table-body {
  overflow-y: auto !important;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 12px;
}