#root {
  overflow: hidden;
}

body {
  font-family: 'Roboto' !important;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.app {
  height: 100vh;
}

.content-mobile {
  overflow: auto;
  height: calc(-42px + 100vh);
}

.content {
  height: calc(-106px + 100vh);
  overflow: auto;
  overflow-x: hidden;
  width: calc(-64px + 100%);
  padding: 32px;
}

.content:has(.content-without-padding) {
  width: 100%;
  padding: 0;
  height: calc(-42px + 100vh);
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.subtitle {
  color: var(--textSecondary);
  font-size: 12px;
}

.app {
  background-color: var(--layout);
  color: var(--text);
}

.ant-card-body {
  height: calc(-56px + 100%);
}

.ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.ant-table,
.ant-table-container {
  height: 100%;
}

.ant-table-body {
  height: calc(-37px + 100%);
}

.ant-table-body table {
  height: 100%;
}

.ant-table-content {
  overflow: auto;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.content-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-loading-in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-btn-dashed {
  box-shadow: none;
}

.ant-tag {
  margin-inline-end: 0
}

.ant-typography {
  margin: 0
}

.warning-tags {
  position: fixed;
  bottom: 32px;
  right: 32px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--layoutAccent);
}

.ant-slider-horizontal.ant-slider-with-marks {
  margin-bottom: 0;
}

.main-layout {
  height: 100vh;
}

.ant-card-body {
  height: 100%;
  padding: 0 !important;
}

.ant-carousel,
.slick-list {
  height: 100%;
}

ul.slick-dots.slick-dots-bottom {
  position: absolute;
  bottom: 0
}

.slick-dots button {
  background-color: hsla(0, 0%, 85%, 1) !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 100% !important;
}

.slick-dots li {
  width: 8px !important;
}

.slick-dots .slick-active {
  width: 8px !important;
}

.slick-track {
  height: 100%;
}

.slick-slide,
.slick-slide>div {
  height: 100%;
}

.ant-typography {
  margin-bottom: 0 !important;
}

.modal-without-background .ant-modal-content {
  background-color: transparent;
  padding: 0;
  max-width: unset;
  margin: unset;
}

.mobile-modal-without-background .ant-modal-content {
  background-color: transparent;
  padding: 0;
  max-width: unset;
  margin: unset;
}

.mobile-modal-without-background .ant-modal {
  margin: 0 !important;
}

.mobile-modal-without-background {
  overflow: hidden !important;
}

.ant-slider-mark {
  top: 8px !important;
}

.mobile-modal-without-background .ant-modal .ant-modal-close,
.modal-without-background .ant-modal .ant-modal-close {
  top: 22px;
  right: 8px;
}

.modal-without-background .ant-modal-body>div>div:first-child,
.mobile-modal-without-background .ant-modal-body>div>div:first-child {
  z-index: 20;
}

.modal-without-background .ant-modal-body>div,
.mobile-modal-without-background .ant-modal-body>div {
  background-color: transparent;
}

.ant-modal-root .ant-modal {
  max-width: 100%;
}

.animated {
  height: 100%;
}

.ant-btn-lg .ant-btn-icon {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px !important;
}

::-webkit-scrollbar-corner {
  display: none;
}

div {
  scrollbar-color: unset !important;
}

.ant-table-wrapper .ant-table {
  border-radius: 16px;
}

.ant-tabs-nav {
  margin: 0 !important;
}

a {
  color: rgba(255, 255, 255, 0.85);
}