html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: custom-font;
}

code {
  font-family: custom-font;
}

@font-face {
  font-family: "custom-font";
  src: url("fonts/Azonix.woff") format('woff');
  font-weight: bold;
}